# xarray e netCDF

In [ ]:
import xarray as xr
from netCDF4 import Dataset

### Leitura do arquivo netCDF (.nc)

In [ ]:
ds = xr.open_dataset('dataset.nc')
ds

In [ ]:
# Specific rain water content (crwc)
# Units: kg.kg-1
# Description: The mass of water produced from large-scale clouds
#that is of raindrop size and so can fall to the surface as precipitation.

### Convertendo longitude

In [ ]:
# 0 graus = 360 graus ::: 0 + 180 = 180 ::: 180%360 = 180 ::: 180 - 180 = 0
# 179 graus ::: 179 + 180 = 359 ::: 359%360 = 359 ::: 359 - 180 = 179
# 180 graus ::: 180 + 180 = 360 ::: 360%360 = 0 ::: 0 - 180 = -180
# 181 graus ::: 361 ::: 1 ::: -179

ds.coords['longitude'] = ((ds.coords['longitude']+180)%360)-180
ds = ds.sortby(ds.longitude)
ds

### Criando um subset

In [ ]:
#América do Sul
ds_subset = ds.sel(longitude = slice(-92, -28), latitude = slice(13, -56))
ds_subset

In [ ]:
ds_subset.to_netcdf('ds_south_america.nc')

### Extraindo variáveis

In [ ]:
t = ds_subset['t'] - 273.15 #convertendo temperatura de K para Celsius
crwc = ds_subset['crwc']

In [ ]:
t

### Indexando e selecionando dados

In [ ]:
#index selection
t.isel(time = slice(0, 1))

In [ ]:
#value selection
t.sel(time = slice('2021-12-25T00:00:00.000000000','2021-12-27T00:00:00.000000000'))

### Extraindo dados de um ponto

In [ ]:
t.sel(longitude = -38.54, latitude = -3.71, method = 'nearest', level = 1000)
#t.sel(longitude = -38.54, latitude = -3.71, method = 'nearest').isel(level = 3)

In [ ]:
t.sel(longitude = -38.54, latitude = -3.71, method = 'nearest', level = 1000).plot()

In [ ]:
t.isel(time=0).sel(longitude = -38.5, latitude=-3.75, method = 'nearest').plot(y = 'level', yincrease  = False)

In [ ]:
t.isel(level=3).sel(longitude = -38.5, latitude=-3.75, method = 'nearest').plot(x ='time')

In [ ]:
t.isel(time = 0).sel(level = 1000).plot(cmap = 'rainbow')

In [ ]:
t.sel(level = 1000).mean(dim = 'time').plot(cmap = 'rainbow')
# t.sel(level = 1000).max(dim = 'time').plot(cmap = 'viridis')
# t.sel(level = 1000).min(dim = 'time').plot(cmap = 'rainbow')